@model RegisterViewModel

@inject IHttpContextAccessor httpContextAccessor
@inject ICommonService CommonService
@{
    Layout = "_AuthenticationLayout";
}

<h1 class="ibox-title">Vaal Beach Club Registration Wizard</h1>
<p class="ibox-content">To Complete the Wizard, simply navigate through each section and add the relivant details to each section.</p>
<p class="ibox-content">Once all sections are completed, select <span class="text-info">PROCESS</span> in the registration summary. Else select <span class="text-info">SAVE</span> to come back and complete complete later.</p>
<div class="animated fadeInDown">
    <div class="row animated fadeInDown">

        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Registration Summary</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="d-flex justify-content-start">
                                <i class="fa  fa-exclamation-circle fa-3x text-info"
                                   title="No Profile Image Added."
                                   id="divRegistrationSummary-MemberImage-Icon"></i>
                                <div class="d-flex align-items-center p-w-m"
                                     id="divRegistrationSummary-MemberImage-Message">Member Image Added</div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <i class="fa fa-exclamation-circle fa-3x text-warning"
                                   id="divRegistrationSummary-ContactDetails-Icon"></i>
                                <div class="d-flex align-items-center p-w-m"
                                     id="divRegistrationSummary-ContactDetails-Message">( 0 ) Contact Details</div>
                            </div>

                            <div class="d-flex justify-content-start">
                                <i class="fa fa-exclamation-circle fa-3x text-warning"
                                   id="divRegistrationSummary-AddressDetails-Icon"></i>
                                <div class="d-flex align-items-center p-w-m"
                                     id="divRegistrationSummary-AddressDetails-Message">( 0 ) Address Deatils</div>
                            </div>

                            <div class="d-flex justify-content-start">
                                <i class="fa fa-check-circle fa-3x text-info"
                                   id="divRegistrationSummary-FamilyDetails-Icon"></i>
                                <div class="d-flex align-items-center p-w-m"
                                     id="divRegistrationSummary-FamilyDetails-Message">( 0 ) Family Members</div>
                            </div>

                            <div class="d-flex justify-content-start">
                                <i class="fa fa-exclamation-circle fa-3x text-warning"
                                   id="divRegistrationSummary-OnSite-Icon"></i>
                                <div class="d-flex align-items-center p-w-m"
                                     id="divRegistrationSummary-OnSiteDetails-Message">( 0 ) On-Site Assests</div>
                            </div>
                            
                            <div class="d-flex justify-content-start">
                                <i class="fa fa-exclamation-circle fa-3x text-warning"
                                   id="divRegistrationSummary-BoatLockerDetails-Icon"></i>
                                <div class="d-flex align-items-center p-w-m"
                                     id="divRegistrationSummary-BoatLockerDetails-Message">( 0 ) Boat Locker Allocation</div>
                            </div>
                            <hr />
                            <button type="button" class="btn btn-info p-sm full-width"><i class="fa fa-sign-out fa-2x">Save Details</i></button>
                            <hr />
                            <button type="button" class="btn btn-primary p-sm full-width"><i class="fa fa-sign-out fa-2x">Process</i></button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-9">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Wizard Components </h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <!--Member Registrastion Wizard Accordion-->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-primary">
                            <div class="panel-heading ">
                                <a class="text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <h5 class="panel-title">
                                        Main Member Avatar/Image
                                    </h5>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in show" data-parent="#accordion">
                                <div class="panel-body">
                                    <h3> Image Selection and Positioning.</h3>
                                    <p>Select your image of your self to upload.</p>
                                    <p class="text-lg-left text-primary">
                                        Use the controls to bring the desired area into focus.
                                        The image will automatically be cropped and upload to the system, when uploaded.
                                    </p>
                                    <div class="row">
                                        <div class="col-lg-6">

                                            <div class="ibox ">
                                                <div class="ibox-title">
                                                    <h5>Image Preview</h5>
                                                    <div class="ibox-tools">
                                                        @*<a class="collapse-link">
                                                                <i class="fa fa-chevron-up"></i>
                                                            </a>*@
                                                    </div>
                                                </div>
                                                <div class="ibox-content">



                                                    <div class="row">
                                                        <div class="col-lg-3"></div>
                                                        <div class="col-lg-6">

                                                            <div class="d-flex justify-content-center">

                                                                <div class="img-preview img-preview-lg rounded img-responsive w-300 h-300"></div>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-3"></div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 heading ">

                                                        </div>
                                                    </div>
                                                    <label title="Upload image file" for="inputImage" class="btn btn-primary full-width ">
                                                        <input type="file" accept="image/*" name="file" id="inputImage" style="display: none;" class="hide">
                                                        <i class="fa fa-download fa-2x">&nbsp;Select Your Image</i>
                                                    </label>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div style="display:none;">
                                                                <div class="image-crop">
                                                                    <img src="~/images/blank-profile.png" style="min-height: 200px;max-height: 300px;" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <h5>Image Controls</h5>
                                            <table class="table table-bordered">

                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <button id="zoomIn" title="Zoom In" type="button" class="btn btn-info full-width full-height">
                                                                <i class="fa fa-plus fa-3x "></i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button id="imageUp" type="button" class="btn btn-primary full-width full-height">
                                                                <i class="fa fa-arrow-circle-up fa-3x"></i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button id="zoomOut" type="button" class="btn btn-info full-width full-height">
                                                                <i class="fa fa-minus fa-3x"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <button id="imageLeft" type="button" class="btn  btn-primary full-width full-height">
                                                                <i class="fa fa-arrow-circle-left fa-3x"></i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button id="imageReset" type="button" class="btn btn-small btn-warning full-width full-height">
                                                                <i class="fa fa-refresh fa-3x"></i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button id="imageRight" type="button" class="btn btn-small btn-primary full-width full-height">
                                                                <i class="fa fa-arrow-circle-right fa-3x"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <button id="imageRotateLeft" type="button" class="btn btn-info full-width full-height">
                                                                <i class="fa fa-reply fa-3x"></i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button id="imageDown" type="button" class="btn   btn-primary full-width full-height">
                                                                <i class="fa fa-arrow-circle-down fa-3x"></i>
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <button id="imageRotateRight" type="button" class="btn  btn-info full-width full-height">
                                                                <i class="fa fa-share fa-3x"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button type="button" class="btn btn-primary full-width" onclick="processImage();"> <i class="fa fa-user-o fa-2x">&nbsp;Set Profile Image</i></button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <a class="text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseContactDetails">
                                    <h4 class="panel-title">
                                        Contact Details Summary
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseContactDetails" class="panel-collapse collapse" data-parent="#accordion">
                                <div class="panel-body">
                                    <!--Contact Details Accordion-->
                                    <div class="ibox ">
                                        <div class="ibox-title">
                                            <h5>Contact Details</h5>
                                            <div class="ibox-tools">

                                            </div>
                                        </div>
                                        <div class="ibox-content">

                                            <button type="button"
                                                    class="btn btn-info "
                                                    data-toggle="modal"
                                                    data-target="#AddMemberContactDetailsModal"
                                                    onclick="intiAddContactDetailForm();">
                                                <i class="fa fa-plus "></i>&nbsp;Add Contact Detail
                                            </button>
                                            <hr />
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover dataTables-ContactDetails">
                                                    <thead>
                                                        <tr>
                                                            <th>Options</th>
                                                            <th class="text-nowrap">Contact Type</th>
                                                            <th class="text-nowrap">Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Options</th>
                                                            <th class="text-nowrap">Contact Type</th>
                                                            <th class="text-nowrap">Value</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <!--Contact Deatils According-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#MemberAddressDetails">
                                    <h4 class="panel-title text-white">
                                        Address Details
                                    </h4>
                                </a>
                            </div>
                            <div id="MemberAddressDetails" class="panel-collapse collapse " data-parent="#accordion">
                                <div class="panel-body">
                                    <h3> Image Selection and Positioning.</h3>
                                    <p>Select your image of your self to upload.</p>
                                    <p class="text-lg-left text-primary">
                                        Use the controls to bring the desired area into focus.
                                        The image will automatically be cropped and upload to the system, when uploaded.
                                    </p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="ibox ">
                                                <div class="ibox-title">
                                                    <h5>List Of Addresses</h5>
                                                    <div class="ibox-tools">

                                                    </div>
                                                </div>
                                                <div class="ibox-content">
                                                    <!--Address Types Accordinion-->
                                                    <!--Address Details According-->
                                                    <div class="panel-group" id="MemberAddressAccordion">
                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading">
                                                                <a class="text-white" data-toggle="collapse" data-parent="#MemberAddressAccordion" href="#collapseStreetAddress">
                                                                    <h5 class="panel-title">Street Addresses</h5>
                                                                </a>
                                                            </div>
                                                            <div id="collapseStreetAddress" class="panel-collapse collapse" data-parent="#MemberAddressAccordion">
                                                                <div class="panel-body">
                                                                    <!--List Of ADDED Street Addresses-->
                                                                    <button type="button"
                                                                            class="btn btn-info "
                                                                            data-toggle="modal"
                                                                            data-target="#AddMemberAddressesModal"
                                                                            onclick="initiAddMemberAddressForm(1);">
                                                                        <i class=" fa fa-plus"></i>&nbsp;Add Addesses
                                                                    </button>
                                                                    <hr />
                                                                    <div class="row">
                                                                        <div class="col-lg-12">

                                                                            <div class="table-responsive">
                                                                                <table class="table table-striped table-bordered table-hover dataTables-MemberAddress-Street">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Options</th>
                                                                                            <th class="text-nowrap">Number</th>
                                                                                            <th class="text-nowrap">Street</th>
                                                                                            <th class="text-nowrap">City</th>
                                                                                            <th class="text-nowrap">Suburb</th>
                                                                                            <th class="text-nowrap">Country</th>
                                                                                            <th class="text-nowrap">Area Code</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody></tbody>
                                                                                    <tfoot>
                                                                                        <tr>
                                                                                            <th>Options</th>
                                                                                            <th class="text-nowrap">Number</th>
                                                                                            <th class="text-nowrap">Street</th>
                                                                                            <th class="text-nowrap">City</th>
                                                                                            <th class="text-nowrap">Suburb</th>
                                                                                            <th class="text-nowrap">Country</th>
                                                                                            <th class="text-nowrap">Area Code</th>
                                                                                        </tr>
                                                                                    </tfoot>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--END - List Of ADDED Street Addresses-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading">
                                                                <a data-toggle="collapse" data-parent="#MemberAddressAccordion" href="#collapsePostalAddress">
                                                                    <h4 class="panel-title text-white">
                                                                        P.O.Box Addresss
                                                                    </h4>
                                                                </a>
                                                            </div>
                                                            <div id="collapsePostalAddress" class="panel-collapse collapse " data-parent="#MemberAddressAccordion">
                                                                <div class="panel-body">
                                                                    <!--List Of ADDED PoBox Addresses-->
                                                                    <button type="button"
                                                                            class="btn btn-info "
                                                                            data-toggle="modal"
                                                                            data-target="#AddMemberAddressesModal"
                                                                            onclick="initiAddMemberAddressForm(3);">
                                                                        <i class=" fa fa-plus"></i>&nbsp;Add Addesses
                                                                    </button>
                                                                    <hr />
                                                                    <div class="row">
                                                                        <div class="col-lg-12">

                                                                            <div class="table-responsive">
                                                                                <table class="table table-striped table-bordered table-hover dataTables-MemberAddress-POBox">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Options</th>
                                                                                            <th class="text-nowrap">P.O.Box Number</th>
                                                                                            <th class="text-nowrap">City</th>
                                                                                            <th class="text-nowrap">Suburb</th>
                                                                                            <th class="text-nowrap">Country</th>
                                                                                            <th class="text-nowrap">Area Code</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody></tbody>
                                                                                    <tfoot>
                                                                                        <tr>
                                                                                            <th>Options</th>
                                                                                            <th class="text-nowrap">P.O.Box Number</th>
                                                                                            <th class="text-nowrap">City</th>
                                                                                            <th class="text-nowrap">Suburb</th>
                                                                                            <th class="text-nowrap">Country</th>
                                                                                            <th class="text-nowrap">Area Code</th>
                                                                                        </tr>
                                                                                    </tfoot>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--END - List Of ADDED PoBox Addresses-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel panel-primary">
                                                            <div class="panel-heading ">
                                                                <a data-toggle="collapse" data-parent="#MemberAddressAccordion" href="#collapseComplexAddress">
                                                                    <h4 class="panel-title text-white">
                                                                        Complex Address
                                                                    </h4>
                                                                </a>
                                                            </div>
                                                            <div id="collapseComplexAddress" class="panel-collapse collapse " data-parent="#MemberAddressAccordion">
                                                                <div class="panel-body">
                                                                    <!--List Of ADDED Complex Addresses-->
                                                                    <button type="button"
                                                                            class="btn btn-info "
                                                                            data-toggle="modal"
                                                                            data-target="#AddMemberAddressesModal"
                                                                            onclick="initiAddMemberAddressForm(2);">
                                                                        <i class=" fa fa-plus"></i>&nbsp;Add Addesses
                                                                    </button>
                                                                    <hr />
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-striped table-bordered table-hover dataTables-MemberAddress-Complex">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Options</th>
                                                                                            <th class="text-nowrap">Complex Name</th>
                                                                                            <th class="text-nowrap">Unit Number</th>
                                                                                            <th class="text-nowrap">City</th>
                                                                                            <th class="text-nowrap">Suburb</th>
                                                                                            <th class="text-nowrap">Country</th>
                                                                                            <th class="text-nowrap">Area Code</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody></tbody>
                                                                                    <tfoot>
                                                                                        <tr>
                                                                                            <th>Options</th>
                                                                                            <th class="text-nowrap">Complex Name</th>
                                                                                            <th class="text-nowrap">Unit Number</th>
                                                                                            <th class="text-nowrap">City</th>
                                                                                            <th class="text-nowrap">Suburb</th>
                                                                                            <th class="text-nowrap">Country</th>
                                                                                            <th class="text-nowrap">Area Code</th>
                                                                                        </tr>
                                                                                    </tfoot>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--END - List Of ADDED Complex Addresses-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Address Deatils According-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <a class="text-white" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <h4 class="panel-title">
                                        Family Members

                                    </h4>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" data-parent="#accordion">
                                <div class="panel-body">
                                    <div class="p-sm">
                                        <button type="button"
                                                class="btn btn-info "
                                                data-toggle="modal"
                                                data-target="#AddAffiliatedMemberModal"
                                                onclick="intiAddMemberForm();">
                                            <i class="fa fa-plus ">&nbsp;Add Member Affiliation</i>
                                        </button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover dataTables-MemberAffiliation">
                                            <thead>
                                                <tr>
                                                    <th>Options</th>
                                                    <th class="text-nowrap">Affiliation</th>
                                                    <th class="text-nowrap">First Name</th>
                                                    <th class="text-nowrap">Last Name</th>

                                                    <th class="text-nowrap">Date Of Birth</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Options</th>
                                                    <th class="text-nowrap">Affiliation</th>
                                                    <th class="text-nowrap">First Name</th>
                                                    <th class="text-nowrap">Last Name</th>

                                                    <th class="text-nowrap">Date Of Birth</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">On-Site Assets</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" data-parent="#accordion">
                                <div class="panel-body">
                                    [On-site Assests]
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Boat Locker Selection</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" data-parent="#accordion">
                                <div class="panel-body">
                                    [On-site Assests]
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Member Registrastion Wizard Accordion-->
                </div>
            </div>
        </div>

    </div>
    <div class="wrapper wrapper-content">

    </div>


    <div>
        @*<div>

                <h1 class="logo-name">Integrator</h1>

            </div>*@

        <p class="m-t"> <small>Integrator &copy; @DateTime.Now.Year</small> </p>
    </div>
</div>
<!--Select Picture Modal-->
<div class="modal inmodal fade" id="SelectPictureModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class="fa fa-industry">&nbsp;Select Picture</i></h4>
            </div>
            <div class="modal-body">





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick=""><i class="fa fa-plus">&nbsp;Add Selected Skill</i></button>
            </div>
        </div>
    </div>
</div>

<!--Add member Affilate Modal-->
<div class="modal inmodal fade" id="AddAffiliatedMemberModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class="fa fa-industry">&nbsp;Add Member</i></h4>
            </div>
            <div class="modal-body">

                <form>
                    <div id="divSelectMemberAffiliationContainer" class="p-h-xs">
                        Select Affiliation
                        <select class="full-width MemberAffiliation-Select">
                            <option value="1">
                                Wife
                            </option>
                            <option value="2">
                                Husband
                            </option>
                            <option value="3">
                                Son
                            </option>
                            <option value="4">
                                Daughter
                            </option>
                            <option value="5">
                                Visitor
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="text-primary">First Name</label>
                        <input id="txtMemberAffiliateFirstName" class="form-control" placeholder="Enter First Name Here" />

                    </div>
                    <div class="form-group">

                        <label class="text-primary">Last Name</label>
                        <input id="txtMemberAffiliateLastName" class="form-control" placeholder="Enter Last Name Here" />

                    </div>

                    <div class="form-group" id="AffiliatedMemberDateOfBirth">
                        <label class="control-label">Select Date of Birth</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addAffiliatedMember();"><i class="fa fa-plus">&nbsp;Add Member Affiliation</i></button>
            </div>
        </div>
    </div>
</div>
<!--Add Afiliated Member Modal-->
<!--Add member Address Modal-->
<div class="modal inmodal fade" id="AddMemberAddressesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class="fa fa-address-book">&nbsp;Add Address</i></h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group add-Member-Address-ComplexName">

                        <label class="text-primary">Complex Name</label>
                        <input id="txtAddMemberAddressComplexName" class="form-control" placeholder="Enter Complex Name Here" />

                    </div>
                    <div class="form-group add-Member-Address-ComplexUnitNumber">

                        <label class="text-primary">Unit Number</label>
                        <input id="txtAddMemberAddressComplexUnitNumber" class="form-control" placeholder="EnterComplex Unit Number Here" />

                    </div>
                    <div class="form-group add-Member-Address-POBoxNumber">

                        <label class="text-primary">P.O.Box Number</label>
                        <input id="txtAddMemberAddressPOBoxNumber" class="form-control" placeholder="Enter P.O.Box Number Here" />

                    </div>
                    <div class="form-group add-Member-Address-StreetNumber">
                        <label class="text-primary">Street Number</label>
                        <input id="txtAddMemberAddressStreetNumber" class="form-control" placeholder="Enter Street Number Here" />

                    </div>
                    <div class="form-group add-Member-Address-StreetName">
                        <label class="text-primary">Street Name</label>
                        <input id="txtAddMemberAddressStreetName" class="form-control" placeholder="Enter Street Name Here" />

                    </div>
                    <div class="form-group add-Member-Address-City">
                        <label class="text-primary">City</label>
                        <input id="txtAddMemberAddressCity" class="form-control" placeholder="Enter City Here" />

                    </div>
                    <div class="form-group add-Member-Address-Suburb">
                        <label class="text-primary">Suburb</label>
                        <input id="txtAddMemberAddressSuburb" class="form-control" placeholder="Enter Suburb Here" />

                    </div>
                    <div class="form-group add-Member-Address-Country">
                        <label class="text-primary">Country</label>
                        @*<input id="txtAddMemberAddressCountry" class="form-control" placeholder="Enter Country Here" />*@


                        <select name="cboCountries" id="cboCountries">
                            @{
                                foreach (var item in CommonService.ListCountries())
                                {
                                    <option value="@item.CountryCode" label="@item.CountryName">@item.CountryName</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="form-group add-Member-Address-AreaCode">
                        <label class="text-primary">Area Code</label>
                        <input id="txtAddMemberAddressAreaCode" class="form-control" placeholder="Enter Area Code Here" />
                    </div>
                    <hr />
                    <div class="form-group add-Member-Address-IsPrimaryAddress">

                        <div class="checkbox checkbox-success">
                            <input type="checkbox" id="chkAddMemberAddressIsPrimary" />
                            <label for="chkAddMemberAddressIsPrimary">
                                Is Your Primary Address
                            </label>
                        </div>
                    </div>
                    <hr />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addMemberAddress();"><i class="fa fa-plus"></i>&nbsp;Add Address</button>
            </div>
        </div>
    </div>
</div>
<!--Add Member Address Modal-->
<!--Add member Contact Detail Modal-->
<div class="modal inmodal fade" id="AddMemberContactDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class="fa fa-address-book-o"></i>&nbsp;Add Contact Detail</h4>
            </div>
            <div class="modal-body">
                <div class="form-group add-Member-Contact-Detail-Type">
                    <label class="text-primary">Contact Type</label>
                    @*<input id="txtAddMemberAddressCountry" class="form-control" placeholder="Enter Country Here" />*@


                    <select name="cboContactDetailTypes" id="cboContactDetailTypes">
                        @{
                            foreach (var item in CommonService.ListContactDetailTypes())
                            {
                                <option value="@item.Id" label="@item.ContactDetailTypeValue">@item.ContactDetailTypeValue</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group ">

                    <div id="divContactDetailType-Email">
                        <label class="text-primary">Secondary Email Address</label>
                        <input id="txtAddMemberEmailAddress"
                               class="form-control"
                               type="email"
                               placeholder="Enter Email Address" />
                    </div>

                    <div id="divContactDetailType-Cell-Number">

                        <label class="text-primary">Suburb</label>
                        <input id="txtAddMemberCellNumber" class="form-control"
                               data-mask="(999) 999-9999"
                               type="tel" placeholder="Please Enter Cell Number" />
                    </div>

                    <div id="divContactDetailType-Office-Number">
                        <label class="text-primary">Work Number</label>
                        <input id="txtAddMemberWorkNumber" class="form-control"
                               data-mask="(999) 999-9999"
                               type="tel"
                               placeholder="Please Enter Work Number" />
                    </div>
                    <div id="divContactDetailType-Home-Number">
                        <label class="text-primary">Home Number</label>
                        <input id="txtAddMemberHomeNumber" class="form-control"
                               data-mask="(999) 999-9999"
                               type="tel" placeholder="Please Enter Home Number" />
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addMemberContactDetail();"><i class="fa fa-plus"></i>&nbsp;Add Contact Detail</button>
            </div>
        </div>
    </div>
</div>
<!--Add member Contact Detail Modal-->
@section Styles {

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
        <link href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/cropperorignal/dist/cropper.min.css" />
        <link href="~/lib/jasny-bootstrap/dist/css/jasny-bootstrap.css" rel="stylesheet" />
    </environment>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <environment names="Development,Staging,Production">
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/select2/dist/js/select2.min.js"></script>
        <script src="~/lib/cropperorignal/dist/cropper.min.js"></script>
        <script src="~/lib/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
    </environment>

    <script>


        /*Registration Summary
         * *****************/
    function setRegistrationSummary() {

    }
    /*END REgistration Summary
     * **********************/

    /*Main Data Structure
     * *****************/
    /*
    {
        _MainDataStore.Image =
            {
                ContentType: "",
                FileSize: "",
                FileName: "",
                ImageData: ""
         };
            ContactDetails:[
                {
                    Index: 0,
                    ContactType: ENUM_CONTACT_DETAIL_TYPE,
                    ContactValue: ""
                }
            ]
        Addresses:[
                        {
                            Index: 0,
                            AddressType: ENUM_ADDRESS_TYPE, See Enum For Address Type
                            City: "CITY",
                            Subub: "SUBURB",
                            countryID: "ZA"
                            Country: "COUNTRY",
                            AreaCode: "AREACODE",
                            ComplexName: "COMPLEXNAME",
                            ComplexUnitNumber: "COMPLEXUNITNUMBER",
                            POBoxNumber: "POBOXNUMBER",
                            StreetNumber, "STREETNUMBER",
                            StreetName:"STREETNAME",
                            IsPrimaryAddress: false
                        }
                   ],
        FamilyMembers:  [
                            {
                                Index: 0,
                                AffiliateType: ENUM_AFFILIATE_TYPE,
                                FirstName: "NAME",
                                LastNAme: "LASTNAME",
                                DateOfBirth: "date"
                            }
                        ],
        StorageItems:   [
                            {}
                        ],
        BoatLockerAllocation:   [
                            {}
                        ]
    }
    ****/

    /*Sytem ENUM Items
     * ******************/
    //Address Type ENUM
    var ENUM_ADDRESS_TYPE = JSON.parse("{}");

    ENUM_ADDRESS_TYPE.POBoxAddress = "POBOX";
    ENUM_ADDRESS_TYPE.StreetAddress = "STREET";
    ENUM_ADDRESS_TYPE.ComplexAddress = "COMPLEX";
    //END Address Type ENUM


    var ENUM_CONTACT_DETAIL_TYPE = JSON.parse("{}");
    /*Accessors
     * *********
     * Email_Address = 1
     * Cell_Number = 2
     * Office_Number = 3
     * Home_Number = 4
     * ************/
    @{

    Array enumValueArray = Enum.GetValues(typeof(EnumContactDetailTypes));
    List<ContactDetailType> ListOfContactDetailTypes = new List<ContactDetailType>();
    foreach (int enumValue in enumValueArray)
    {
@:ENUM_CONTACT_DETAIL_TYPE.@Enum.GetName(typeof(EnumContactDetailTypes), enumValue) = @enumValue;

}
}

    //Affilliate Member Type ENUM
    var ENUM_AFFILIATE_TYPE = JSON.parse("{}");

    ENUM_AFFILIATE_TYPE.Wife = 1;
    ENUM_AFFILIATE_TYPE.Husband = 2;
    ENUM_AFFILIATE_TYPE.Son = 3;
    ENUM_AFFILIATE_TYPE.Daughter = 4;
    ENUM_AFFILIATE_TYPE.Visitor = 5;
    //END Affilliate Member Type ENUM

    //Affilliate Member Type ENUM
    var ENUM_ADDRESS_TYPE = JSON.parse("{}");
    ENUM_ADDRESS_TYPE.Street = 1;
    ENUM_ADDRESS_TYPE.Complex = 2;
    ENUM_ADDRESS_TYPE.POBox = 3;
    //END Affilliate Member Type ENUM

    /*END ENUM Items
    * **************/

    /*End Data Structure
    * *****************/

    /*Global Variables
    * ***************/
    var _MainDataStore = JSON.parse("{}");
    var _CurrentAddressTypeToAdd;

    /*Member Profile Image
     * ******************/

    var imgMemeberProfileImage;
    var imgFileType;
    var imgFileName;
    /*END Profile Image
     * **************/

    /*Registration Summary Variables
     * ******************************/
    var divObjRegistrationSummaryMemberImageIcon;
    var divObjRegistrationSummaryMemberImageMessage;
    var divObjRegistrationSummaryContactDetailsIcon;
    var divObjRegistrationSummaryContactDetailsMessage;
    var divObjRegistrationSummaryAddressDetailsIcon;
    var divObjRegistrationSummaryAddressDetailsMessage;
    var divObjRegistrationSummaryFamilyDetialsIcon;
    var divObjRegistrationSummaryFamilyDetailsMessage;
    var divObjRegistrationSummaryOnSiteDetailsIcon;
    var divObjRegistrationSummaryOnSiteDetailsMessage;
    var divObjRegistrationSummaryBoatLockerDetailsIcon;
    var divObjRegistrationSummaryBoatLockerDetailsMessage;
    /*END Registration Summary VAriables
     * ******************************/

    /*Add ContactDetails
     * ******************/
    var dataTablesContactDetail;
    var cboObjContactDetailTypes;
    var divObjContactDetailTypeEmail;
    var divObjContactDetailTypeCellNumber;
    var divObjContactDetailTypeOfficeNumber;
    var divObjContactDetailTypeHomeNumber;
    var txtObjAddMemberEmailAddress;
    var txtObjAddMemberCellNumber;
    var txtObjAddMemberWorkNumber;
    var txtObjAddMemberHomeNumber;
    /*END Add ContactDetails
     * **********************/

    /*Add affiliated Member Form
     * **************************/
    var dataTablesMemberAffiliation;
    var cboObjSelectAffiliationType;
    var txtObjMemberAffiliationFirstName;
    var txtObjMemberAffiliationLastName;
    var txtMemberAffiliationDateOfBirth;
    /*END Add affiliated Member Form
     * ****************************/

    /*Add Member Address Form
     * *********************/
    var txtObjAddMemberAddressAreaCode;
    //var txtObjAddMemberAddressCountry;
    var cboObjCountries;
    var txtObjAddMemberAddressSuburb;
    var txtObjAddMemberAddressComplexName;
    var txtObjAddMemberAddressComplexUnitNumber;
    var txtObjAddMemberAddressPOBoxNumber;
    var txtObjAddMemberAddressStreetNumber;
    var txtObjAddMemberAddressStreetName;
    var txtObjAddMemberAddressCity;
    var chkObjAddMemberAddressIsPrimary;

    var dataTablesMemberAddressStreet;
    var dataTablesMemberAddressPOBox;
    var dataTablesMemberAddressComplex;
    /*END - Add Member Address Form
    * *********************/

    /*END Global Variables
    * ********************/
    function tresting() {
        alert();
    }


    /*Load Countries
     * ***********/
    function LoadCountries() {
        var _ViewModel = JSON.parse('{}');
        const uri = "@httpContextAccessor.HttpContext.Request.Scheme" + "://" + "@httpContextAccessor.HttpContext.Request.Host" + "/api/CommonAjax";
        alert( uri);

        $.ajax({
            type: "post",
            url: '@Url.Action("TestPost", "Members")',
            data: JSON.stringify(_ViewModel),
            contentType: "application/json; charset=utf-8",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("RequestVerificationToken",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            dataType: "json",
            success: function (data) {
                //Add industry to select list
                var newOption = new Option(data.coreSkill, data.id, true, true);
                cboObjSelectHardSkill.append(newOption).trigger('change');
                showSelectHardSkill();
                //show success message
                toastr.success("Skill Successfully Added.", 'Successfull');
            },
            error: function (data, textStatus, error) {
                toastr.success("Something went wrong - " + error, 'Error');

            }
        });

        $.ajax({
            type: "GET",
            url: uri,
            cache: false,
            //beforeSend: function (xhr) {
            //           xhr.setRequestHeader("RequestVerificationToken",
            //               $('input:hidden[name="__RequestVerificationToken"]').val());
            //       },
            success: function (data) {

                alert("Yes");

            }, error: function (jqXHR, textStatus, errorThrown) {
                alert("Something went wrong!  -  " + JSON.stringify(jqXHR) + "  " + textStatus);
            }
        });
    }

    /*END Load Contries
     * *****************/

    /* Form Initialization
     * ********************/
    function inti_MainDataStore() {

        _MainDataStore.Image =
            {
                ContentType: "",
                FileSize: "",
                FileName: "",
                ImageData: ""
         };
        _MainDataStore.ContactDetails = new Array();
        _MainDataStore.Addresses = new Array();
        _MainDataStore.FamilyMembers = new Array();
        _MainDataStore.StorageItems = new Array();
        _MainDataStore.BoatLockerAllocation = new Array();
        
    }
    /*END Form Initialization
    * *******************/


    /*REgistration Summary
     * *********************/
    function BuildRegistrationSummary() {

        //Set the Member Profile Image status
        if (_MainDataStore.Image.ImageData.length > 0) {
            divObjRegistrationSummaryMemberImageIcon.removeClass('fa-exclamation-circle').removeClass('text-warning').addClass('fa-check-circle').addClass('text-info');
            divObjRegistrationSummaryMemberImageMessage.html('Member Profile Image Set.');
        } else {
            divObjRegistrationSummaryMemberImageIcon.removeClass('fa-check-circle').removeClass('text-info').addClass('text-warning').addClass('fa-exclamation-circle');
            divObjRegistrationSummaryMemberImageMessage.html('Member Profile Image Not Set.');
        }

        //Set the Contact Details Status
        if (_MainDataStore.ContactDetails.length > 0) {
            divObjRegistrationSummaryContactDetailsIcon.removeClass('fa-exclamation-circle').removeClass('text-warning').addClass('fa-check-circle').addClass('text-info');
        } else {
            divObjRegistrationSummaryContactDetailsIcon.removeClass('fa-check-circle').removeClass('text-info').addClass('text-warning').addClass('fa-exclamation-circle');
        }
        divObjRegistrationSummaryContactDetailsMessage.html('( ' + _MainDataStore.ContactDetails.length + ' ) Contact Details');

        //Set the Address Details Status
        if (_MainDataStore.Addresses.length > 0) {
            divObjRegistrationSummaryAddressDetailsIcon.removeClass('fa-exclamation-circle').removeClass('text-warning').addClass('fa-check-circle').addClass('text-info');
        } else {
            divObjRegistrationSummaryAddressDetailsIcon.removeClass('fa-check-circle').removeClass('text-info').addClass('text-warning').addClass('fa-exclamation-circle');
        }
        divObjRegistrationSummaryAddressDetailsMessage.html('( ' + _MainDataStore.Addresses.length + ' ) Address Details');

         //Set the Family Details Status
        if (_MainDataStore.FamilyMembers.length > 0) {
            divObjRegistrationSummaryFamilyDetialsIcon.removeClass('fa-exclamation-circle').removeClass('text-warning').addClass('fa-check-circle').addClass('text-info');
        } else {
            divObjRegistrationSummaryFamilyDetialsIcon.removeClass('fa-check-circle').removeClass('text-info').addClass('text-warning').addClass('fa-exclamation-circle');
        }
        divObjRegistrationSummaryFamilyDetailsMessage.html('( ' + _MainDataStore.FamilyMembers.length + ' ) Family Members');

         //Set the On-Site Details Status 
        if (_MainDataStore.StorageItems.length > 0) {
            divObjRegistrationSummaryOnSiteDetailsIcon.removeClass('fa-exclamation-circle').removeClass('text-warning').addClass('fa-check-circle').addClass('text-info');
        } else {
            divObjRegistrationSummaryOnSiteDetailsIcon.removeClass('fa-check-circle').removeClass('text-info').addClass('text-warning').addClass('fa-exclamation-circle');
        }
        divObjRegistrationSummaryOnSiteDetailsMessage.html('( ' + _MainDataStore.StorageItems.length + ' ) On-Site Assests');

         //Set the BoatLocker Details Status
        if (_MainDataStore.BoatLockerAllocation.length > 0) {
            divObjRegistrationSummaryBoatLockerDetailsIcon.removeClass('fa-exclamation-circle').removeClass('text-warning').addClass('fa-check-circle').addClass('text-info');
        } else {
            divObjRegistrationSummaryBoatLockerDetailsIcon.removeClass('fa-check-circle').removeClass('text-info').addClass('text-warning').addClass('fa-exclamation-circle');
        }
        divObjRegistrationSummaryBoatLockerDetailsMessage.html('( ' + _MainDataStore.BoatLockerAllocation.length + ' ) Boat-Locker Allocation');
        
    }
    /*Intitailise Contact Details
     * ************************/
    function intiAddContactDetailForm() {
        //Default Hide All Items and clear Items
         cboObjContactDetailTypes.val('1').trigger('change');
    }
     function showContactDetailType(iContactDetailType) {
             divObjContactDetailTypeEmail.hide();
            divObjContactDetailTypeCellNumber.hide();
            divObjContactDetailTypeOfficeNumber.hide();
         divObjContactDetailTypeHomeNumber.hide();

         switch(iContactDetailType) {
                case '1':
                // Show Email
                 divObjContactDetailTypeEmail.show();
                txtObjAddMemberEmailAddress.val('');

                break;
                case '2':
                // Show Cell Number
                 divObjContactDetailTypeCellNumber.show();
                 txtObjAddMemberCellNumber.val('');

                 break;
             case '3':
                // Show Office Number
                 divObjContactDetailTypeOfficeNumber.show();
                 txtObjAddMemberWorkNumber.val('');

                 break;
             case '4':
                //  Home Number
                 divObjContactDetailTypeHomeNumber.show();
                 txtObjAddMemberHomeNumber.val('');
                break;
                default:
                // code block
            }
        }
    /*End Initilise Contact Details
     * *****************************/

    /*Initilise AddMember Form
     * **********************/
    function intiAddMemberForm() {
        //reset Member Affiliation Select Control
        cboObjSelectAffiliationType.val(null).trigger('change');
        //reset the Add affiliated Member name
        txtObjMemberAffiliationFirstName.val('');
        //reset the Add affiliated Member Last Name
        txtObjMemberAffiliationLastName.val('');
        //reset Date Selected;
        txtObjMemberAffiliationDateOfBirth.datepicker('clearDates');
    }
    /*END Initialise Member Form
     * ************************/


    /*initilise Add Memeber Address Form
     * ***********************************/
    function initiAddMemberAddressForm(_AddressType) {

        _CurrentAddressTypeToAdd = _AddressType;

        txtObjAddMemberAddressAreaCode.val('');
        // txtObjAddMemberAddressCountry.val('');
        cboObjCountries.val('ZA').trigger('change');
        txtObjAddMemberAddressSuburb.val('');
        txtObjAddMemberAddressComplexName.val('');
        txtObjAddMemberAddressComplexUnitNumber.val('');
        txtObjAddMemberAddressPOBoxNumber.val('');
        txtObjAddMemberAddressStreetNumber.val('');
        txtObjAddMemberAddressStreetName.val('');
        txtObjAddMemberAddressCity.val('');

        chkObjAddMemberAddressIsPrimary.prop("checked", "");

        if (_AddressType == ENUM_ADDRESS_TYPE.Street) {
            //Show Address Street NAme and Number
            $(".add-Member-Address-StreetName").show();
            $(".add-Member-Address-StreetNumber").show();

            //Hide Complex Name And Number and POBox Number
            $(".add-Member-Address-ComplexName").hide();
            $(".add-Member-Address-ComplexUnitNumber").hide();
            $(".add-Member-Address-POBoxNumber").hide();
        }
        if (_AddressType == ENUM_ADDRESS_TYPE.Complex) {
            //Show Address Complex NAme and Number
            $(".add-Member-Address-ComplexName").show();
            $(".add-Member-Address-ComplexUnitNumber").show();

            //Hide Street Name And Number and POBox Number
            $(".add-Member-Address-StreetName").hide();
            $(".add-Member-Address-StreetNumber").hide();
            $(".add-Member-Address-POBoxNumber").hide();
        }

        if (_AddressType == ENUM_ADDRESS_TYPE.POBox) {
            //Show Address Complex NAme and Number
            $(".add-Member-Address-POBoxNumber").show();


            //Hide Street Name And Number and POBox Number
            $(".add-Member-Address-ComplexName").hide();
            $(".add-Member-Address-ComplexUnitNumber").hide();
            $(".add-Member-Address-StreetName").hide();
            $(".add-Member-Address-StreetNumber").hide();
        }


    }

    //Add Member Address To MainDataStore
    function addMemberAddress() {


        var _NewMemberAddress = JSON.parse("{}");

        _NewMemberAddress.Index = _MainDataStore.Addresses.length;
        _NewMemberAddress.AddressType = _CurrentAddressTypeToAdd;
        _NewMemberAddress.City = txtObjAddMemberAddressCity.val();
        _NewMemberAddress.Subub = txtObjAddMemberAddressSuburb.val();
        //_NewMemberAddress.Country = txtObjAddMemberAddressCountry.val();
        _NewMemberAddress.Country = cboObjCountries.find('option:selected').text();
        _NewMemberAddress.countryID = cboObjCountries.val();
        _NewMemberAddress.ComplexName = txtObjAddMemberAddressComplexName.val();
        _NewMemberAddress.ComplexUnitNumber = txtObjAddMemberAddressComplexUnitNumber.val();
        _NewMemberAddress.POBoxNumber = txtObjAddMemberAddressPOBoxNumber.val();
        _NewMemberAddress.StreetNumber = txtObjAddMemberAddressStreetNumber.val();
        _NewMemberAddress.StreetName = txtObjAddMemberAddressStreetName.val();
        _NewMemberAddress.IsPrimaryAddress = chkObjAddMemberAddressIsPrimary.is(":checked");
        _NewMemberAddress.AreaCode = txtObjAddMemberAddressAreaCode.val();

        _MainDataStore.Addresses.push(_NewMemberAddress);

        buildAddressTables();
    }

    //Adds the Addess to the correct Tables
    function buildAddressTables() {
        dataTablesMemberAddressStreet.clear().draw();
        dataTablesMemberAddressPOBox.clear().draw();
        dataTablesMemberAddressComplex.clear().draw();

        $.each(_MainDataStore.Addresses, function (i, MemberAddress) {
            if (MemberAddress.AddressType == ENUM_ADDRESS_TYPE.Street) {
                dataTablesMemberAddressStreet.row.add([
                    '<a  class="dropdown-item btn btn-w-m btn-info text-white text-center p-xs datatable-RemoveItem" onclick="removeMemberAddress(' + MemberAddress.Index + ');">' +
                    '<i class="fa fa-remove" style="font-size: 15px;" ></i>&nbsp;Remove' +
                    '</a>',//Adding buttons
                    MemberAddress.StreetNumber,//Adding Street Number
                    MemberAddress.StreetName,// adding Street Name
                    MemberAddress.City,//Adding City
                    MemberAddress.Subub,//Adding Suburb
                    MemberAddress.Country, //Adding Counrty
                    MemberAddress.AreaCode //Adding Area Co
                ]).draw();
            }
            if (MemberAddress.AddressType == ENUM_ADDRESS_TYPE.Complex) {
                dataTablesMemberAddressComplex.row.add([
                    '<a  class="dropdown-item btn btn-w-m btn-info text-white text-center p-xs datatable-RemoveItem" onclick="removeMemberAddress(' + MemberAddress.Index + ');">' +
                    '<i class="fa fa-remove" style="font-size: 15px;" ></i>&nbsp;Remove' +
                    '</a>',//Adding buttons
                    MemberAddress.ComplexName,//Adding affiliation Type
                    MemberAddress.ComplexUnitNumber,// adding Complex Unit Number
                    MemberAddress.City,//Adding City
                    MemberAddress.Subub,//Adding Suburb
                    MemberAddress.Country, //Adding Counrty
                    MemberAddress.AreaCode //Adding Area Co
                ]).draw();
            }
            if (MemberAddress.AddressType == ENUM_ADDRESS_TYPE.POBox) {
                dataTablesMemberAddressPOBox.row.add([
                    '<a  class="dropdown-item btn btn-w-m btn-info text-white text-center p-xs datatable-RemoveItem" onclick="removeMemberAddress(' + MemberAddress.Index + ');">' +
                    '<i class="fa fa-remove" style="font-size: 15px;" ></i>&nbsp;Remove' +
                    '</a>',//Adding buttons
                    MemberAddress.POBoxNumber,//Adding P.O.Box Number
                    MemberAddress.City,//Adding City
                    MemberAddress.Subub,//Adding Suburb
                    MemberAddress.Country, //Adding Counrty
                    MemberAddress.AreaCode //Adding Area Code
                ]).draw();
            }
        });

        BuildRegistrationSummary();
    }


    //REMOVE - Member ddress From MainDataStore
    function removeMemberAddress(IndexToRemove) {

        var iSelectedIndexToRemove = 0;
        $.each(_MainDataStore.Addresses, function (i, MemberAddress) {

            if (MemberAddress.Index == IndexToRemove) {
                iSelectedIndexToRemove = IndexToRemove;
            }
        });

        _MainDataStore.Addresses.splice(iSelectedIndexToRemove, 1);
        buildAddressTables();
    }

    /*END - initilise Add Memeber Address Form
     * ***********************************/

    /*From Methods
     * *********/


    /*Member Profile Image
     * ********************/

    function processImage() {

        if (_MainDataStore.Image.FileName.length > 0) {
            //var $progressBar = $('.progress-bar');
            //$progressBar.width("0%").attr('aria-valuenow', 0).text("0%");
            //Get the image object that is used for the cropper.
            var $image = $(".image-crop > img");
            //Call the [getCroppedCanvas] function of the cropper widget.
            //All the options are set and passed to the cropper widget.
            var FinalCcanvas = $($image).cropper("getCroppedCanvas", {
                width: 250,
                height: 250,
                minWidth: 250,
                minHeight: 250,
                maxWidth: "Infinity",
                maxHeight: "Infinity",
                imageSmoothingEnabled: true,
                imageSmoothingQuality: "high"
            });

            //Sets the Image type based on the image uploaded and sets the quality to maximium.
            var canvaURL = FinalCcanvas.toDataURL(_MainDataStore.Image.ContentType, 1); // it returns the cropped image / canvas

            //Remove the byte64 attribute from the string
            var ImageData = canvaURL.split(",");
            //get the blob data
            _MainDataStore.Image.ImageData = ImageData[1];
            toastr.success("Your Image Has Been Set!", 'Success');
             BuildRegistrationSummary();
            //Add the blob data to the preview image control in the modal popup.
            //$("#ImagePreviewForUpload").attr("src", canvaURL);
            //Show the Modal Popup.
            //$("#ConfirmUploadModal").modal("show");

        } else {
            toastr.warning("Please select Profile file before processing.", 'Warning');
        }

    }

    /*END Profile Image
     * ****************/

    /*Member ContactDetails
     * ******************/
    function addMemberContactDetail() {

        var ContactDetailValue = "";
        var ContactDetailDescription = "";
        switch(cboObjContactDetailTypes.val()) {
                case '1':
                ContactDetailValue = txtObjAddMemberEmailAddress.val();
                ContactDetailDescription = 'Email Address';
                break;
                case '2':
                // Show Cell Number
                ContactDetailValue = txtObjAddMemberCellNumber.val();
                ContactDetailDescription = 'Cell Number';
                 break;
             case '3':
                // Show Office Number
                ContactDetailValue = txtObjAddMemberWorkNumber.val();
                ContactDetailDescription = 'Work Number';
                 break;
             case '4':
                //  Home Number
                ContactDetailValue = txtObjAddMemberHomeNumber.val();
                ContactDetailDescription = 'Home Number';
                break;
                default:
                // code block
        }

        if (ContactDetailValue != null && ContactDetailValue.length > 0) {
            var _NewMemberContactDetail = JSON.parse("{}");

            _NewMemberContactDetail.Index = _MainDataStore.ContactDetails.length;
            _NewMemberContactDetail.ContactType = ContactDetailDescription;
            _NewMemberContactDetail.ContactValue = ContactDetailValue;

            //Add Member Contact Detail to the main data store.
            _MainDataStore.ContactDetails.push(_NewMemberContactDetail);
            toastr.success('The Following was added: ' + ContactDetailDescription + ' ' + ContactDetailValue, 'Successfully Added.');

            //REfresh Contact Details Table by rebuilding the table.
            buildMemberContactDetailsDataTable();
            intiAddContactDetailForm();

        } else {
              toastr.warning('Please Ensure that you complete that fields before adding.', 'Warning.');
        }



    }

    function buildMemberContactDetailsDataTable() {
        dataTablesContactDetail.clear().draw();

        $.each(_MainDataStore.ContactDetails, function (i, MemberContactDetails) {

             dataTablesContactDetail.row.add([
                    '<a  class="dropdown-item btn btn-w-m btn-info text-white text-center p-xs datatable-RemoveItem" onclick="removeContactDetailItem(' + MemberContactDetails.Index + ');">' +
                    '<i class="fa fa-remove" style="font-size: 15px;" ></i>&nbsp;Remove' +
                    '</a>',
                    MemberContactDetails.ContactType,
                    MemberContactDetails.ContactValue
            ]).draw();
        });

        BuildRegistrationSummary();
    }

    function removeContactDetailItem(iIndexToRemove) {
        var iCurrentIndex = 0;
        $.each(_MainDataStore.ContactDetails, function (i, MemberContactDetails) {
            if (i == iIndexToRemove) {
                iCurrentIndex = i;
            }
        });
        _MainDataStore.ContactDetails.splice(iCurrentIndex, 1);
        buildMemberContactDetailsDataTable();
    }
    /*END - Memeber Contact Details
     * *******************************/


    ///Affiliated Member - ADD MEMBER
    function addAffiliatedMember() {
        //create new Affilate Object and initlise the values from the form
        var _NewMemerAffilate = JSON.parse("{}");
        _NewMemerAffilate.Index = _MainDataStore.FamilyMembers.length;
        _NewMemerAffilate.AffiliateType = cboObjSelectAffiliationType.val();
        _NewMemerAffilate.FirstName = txtObjMemberAffiliationFirstName.val();
        _NewMemerAffilate.LastNAme = txtObjMemberAffiliationLastName.val();
        _NewMemerAffilate.DateOfBirth = txtMemberAffiliationDateOfBirth;
        //Add the Member to the main data store.
        _MainDataStore.FamilyMembers.push(_NewMemerAffilate);
        intiAddMemberForm();
        buildMemberAfilliationTable();
        //aDDS THE NEW ENTRY TO THE TABLE

    }

    function getAffiliationType(_AffiliateType) {
        var sAffiliateType = "";

        switch (_AffiliateType) {
            case '1':
                sAffiliateType = "Wife";
                break;
            case '2':
                sAffiliateType = "Husband";
                break;
            case '3':
                sAffiliateType = "Son";
                break;
            case '4':
                sAffiliateType = "Daughter";
                break;

            default:
                sAffiliateType = "Visitor";
        }

        return sAffiliateType;
    }

    function buildMemberAfilliationTable() {
        dataTablesMemberAffiliation.clear().draw();
        $.each(_MainDataStore.FamilyMembers, function (i, MemberAffiliate) {
            dataTablesMemberAffiliation.row.add([
                '<a  class="dropdown-item btn btn-w-m btn-info text-white text-center p-xs datatable-RemoveItem" onclick="removeAffiliatedMember(' + MemberAffiliate.Index + ');">' +
                '<i class="fa fa-remove" style="font-size: 15px;" ></i>&nbsp;Remove' +
                '</a>',//Adding buttons
                getAffiliationType(MemberAffiliate.AffiliateType),//Adding affiliation Type
                MemberAffiliate.FirstName,// adding First NAme
                MemberAffiliate.LastNAme,//Adding Lastname
                MemberAffiliate.DateOfBirth//Adding DateOfBirth
            ]).draw();
        });

        BuildRegistrationSummary();
    }

    //Affiliated Member - REMOVE MEMBER
    function removeAffiliatedMember(iIndex) {
        var iCurrentIndex = 0;
        $.each(_MainDataStore.FamilyMembers, function (i, MemberAffiliate) {
            if (i == iIndex) {
                iCurrentIndex = i;
            }
        });
        _MainDataStore.FamilyMembers.splice(iCurrentIndex, 1);
        buildMemberAfilliationTable();
    }
    /*End Form Methods
     * ***************/



    $(document).ready(function () {

        //Registration Summary Variables
        divObjRegistrationSummaryMemberImageIcon = $("#divRegistrationSummary-MemberImage-Icon");
        divObjRegistrationSummaryMemberImageMessage = $("#divRegistrationSummary-MemberImage-Message");
        divObjRegistrationSummaryContactDetailsIcon = $("#divRegistrationSummary-ContactDetails-Icon");
        divObjRegistrationSummaryContactDetailsMessage = $("#divRegistrationSummary-ContactDetails-Message");
        divObjRegistrationSummaryAddressDetailsIcon= $("#divRegistrationSummary-AddressDetails-Icon");
        divObjRegistrationSummaryAddressDetailsMessage= $("#divRegistrationSummary-AddressDetails-Message");
        divObjRegistrationSummaryFamilyDetialsIcon= $("#divRegistrationSummary-FamilyDetails-Icon");
        divObjRegistrationSummaryFamilyDetailsMessage= $("#divRegistrationSummary-FamilyDetails-Message");
        divObjRegistrationSummaryOnSiteDetailsIcon= $("#divRegistrationSummary-OnSite-Icon");
        divObjRegistrationSummaryOnSiteDetailsMessage= $("#divRegistrationSummary-OnSiteDetails-Message");
        divObjRegistrationSummaryBoatLockerDetailsIcon= $("#divRegistrationSummary-BoatLockerDetails-Icon");
        divObjRegistrationSummaryBoatLockerDetailsMessage= $("#divRegistrationSummary-BoatLockerDetails-Message");
                            

        //LoadCountries();
        //AddMemeberAddress Variables
        txtObjAddMemberAddressAreaCode = $("#txtAddMemberAddressAreaCode");
        //txtObjAddMemberAddressCountry = $("#txtAddMemberAddressCountry");
        txtObjAddMemberAddressSuburb = $("#txtAddMemberAddressSuburb");
        txtObjAddMemberAddressComplexName = $("#txtAddMemberAddressComplexName");
        txtObjAddMemberAddressComplexUnitNumber = $("#txtAddMemberAddressComplexUnitNumber");
        txtObjAddMemberAddressPOBoxNumber = $("#txtAddMemberAddressPOBoxNumber");
        txtObjAddMemberAddressStreetNumber = $("#txtAddMemberAddressStreetNumber");
        txtObjAddMemberAddressStreetName = $("#txtAddMemberAddressStreetName");
        txtObjAddMemberAddressCity = $("#txtAddMemberAddressCity");
        chkObjAddMemberAddressIsPrimary = $("#chkAddMemberAddressIsPrimary");

        //Add Contact Deatils Varibales
        divObjContactDetailTypeEmail = $("#divContactDetailType-Email");
        divObjContactDetailTypeCellNumber = $("#divContactDetailType-Cell-Number");
        divObjContactDetailTypeOfficeNumber = $("#divContactDetailType-Office-Number");
        divObjContactDetailTypeHomeNumber = $("#divContactDetailType-Home-Number");
        txtObjAddMemberEmailAddress = $("#txtAddMemberEmailAddress");
        txtObjAddMemberCellNumber = $("#txtAddMemberCellNumber");
        txtObjAddMemberWorkNumber = $("#txtAddMemberWorkNumber");
        txtObjAddMemberHomeNumber = $("#txtAddMemberHomeNumber");
        //EMD Contact Details Variables

        //chkObjAddMemberAddressIsPrimary.click(function () {
        //    if ($(this).prop("checked") == true) {
        //        alert("Checkbox is checked.");
        //    }
        //    else if ($(this).prop("checked") == false) {
        //        alert("Checkbox is unchecked.");
        //    }
        //});
        /*Initilise Main DataStore
         * ************************/

        inti_MainDataStore();

        /*Initialise Summary
         * ******************/
        BuildRegistrationSummary();
        /*Initilse variables
         * *******************/
        txtObjMemberAffiliationFirstName = $("#txtMemberAffiliateFirstName").change(function (ev) {

        });
        txtObjMemberAffiliationLastName = $("#txtMemberAffiliateLastName");
        txtMemberAffiliationDateOfBirth = "";

        txtObjMemberAffiliationDateOfBirth = $('#AffiliatedMemberDateOfBirth .input-group.date').datepicker({
            format: "yyyy/mm/dd",
            startView: 2,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        }).on('change', function (ev) {
            txtMemberAffiliationDateOfBirth = $(this).datepicker('getFormattedDate');

            //if ($(this).datepicker('getFormattedDate') > $(YearEndedEmployment).datepicker('getFormattedDate')) {
            //    $(YearEndedEmployment).datepicker('update', $(this).datepicker('getFormattedDate'));
            //    toastr.warning("The selected date can not be after the selected end date, it has been reset to the same as that of the End Date!", 'Warning');
            //}
            //UpdateGlobalStatus();
        });

        //intilise member Profile Images
        imgMemeberProfileImage = $('.image-crop > img').cropper({
            aspectRatio: 1.1,
            preview: ".img-preview",
            viewMode: 1,
            dragMode: 'none',
            autoCrop: true,
            restore: false,
            zoomOnTouch: false,
            zoomOnWheel: false,
            minCropBoxWidth: 50,
            autoCropArea: 1.0,
            done: function (data) {
                // Output the result data for cropping image.
            }
        });



        var $inputImage = $("#inputImage");
        if (window.FileReader) {
            $inputImage.change(function () {
                var fileReader = new FileReader(),
                    files = this.files,
                    file;

                if (!files.length) {
                    return;
                }

                file = files[0];

                if (/^image\/\w+$/.test(file.type)) {

                    _MainDataStore.Image.ContentType = file.type;
                    _MainDataStore.Image.FileName = file.name;
                    _MainDataStore.Image.ImageData = "";
                    BuildRegistrationSummary();
         //   {
         //       ContentType: "",
         //       FileSize: "",
         //       FileName: "",
         //       ImageData: ""
         //};

                    //imgFileType = file.type;
                    //imgFileName = file.name;
                    //$("#hidSelectedFileType").val(file.type);
                    //$("#hidFileName").val(file.name);

                    fileReader.readAsDataURL(file);
                    fileReader.onload = function () {
                        $inputImage.val("");
                        imgMemeberProfileImage.cropper("reset", true).cropper("replace", this.result);
                    };
                } else {
                    toastr.warning("Please choose an image file.", 'Warning');
                }
            });
        } else {
            $inputImage.addClass("hide");
        }
        /*End Member Profile Image
         * ************************/



        //Contact Details Datatables

         dataTablesContactDetail = $('.dataTables-ContactDetails').DataTable({
            pageLength: 10
        });
        //END Contact Details Datatables


        dataTablesMemberAffiliation = $('.dataTables-MemberAffiliation').DataTable({
            pageLength: 10
        });
        //Address Tables
        dataTablesMemberAddressComplex = $('.dataTables-MemberAddress-Complex').DataTable({
            pageLength: 10
        });
        dataTablesMemberAddressPOBox = $('.dataTables-MemberAddress-POBox').DataTable({
            pageLength: 10
        });
        dataTablesMemberAddressStreet = $('.dataTables-MemberAddress-Street').DataTable({
            pageLength: 10
        });
        //END Address Tables



        cboObjSelectAffiliationType = $(".MemberAffiliation-Select").select2({
            placeholder: "Select Affiliation",
            allowClear: true,
            dropdownParent: $("#divSelectMemberAffiliationContainer"),
            dropdownAutoWidth: true,
            width: '100%'
        }).change(function (ev) {

        });

        cboObjCountries = $("#cboCountries").select2({
            placeholder: "Select Country",
            allowClear: true,
            dropdownParent: $(".add-Member-Address-Country"),
            dropdownAutoWidth: true,
            width: '100%'
        }).change(function (ev) {

            });

        //Contact Details - Contact Detail Types
        cboObjContactDetailTypes = $("#cboContactDetailTypes").select2({
            placeholder: "Select Country",
            allowClear: true,
            dropdownParent: $(".add-Member-Contact-Detail-Type"),
            dropdownAutoWidth: true,
            width: '100%'
        }).change(function (ev) {
            ev.preventDefault();
            ev.stopPropagation();
            showContactDetailType($(this).val());
        });





        $("#imageReset").click(function () {
            imgMemeberProfileImage.cropper("reset");
        });

        //$("#download").click(function () {
        //    window.open($image.cropper("getDataURL"));
        //});

        $("#zoomIn").click(function () {
            imgMemeberProfileImage.cropper("zoom", 0.1);
        });

        $("#zoomOut").click(function () {

            imgMemeberProfileImage.cropper("zoom", -0.1);
        });

        $("#imageRotateLeft").click(function () {
            imgMemeberProfileImage.cropper("rotate", 2);
        });

        $("#imageRotateRight").click(function () {
            imgMemeberProfileImage.cropper("rotate", -2);
        });

        //$("#setDrag").click(function () {
        //    imgMemeberProfileImage.cropper("setDragMode", "crop");
        //});
        $("#imageUp").click(function () {

            imgMemeberProfileImage.cropper("move", 0, -5);
        });
        $("#imageDown").click(function () {

            imgMemeberProfileImage.cropper("move", 0, 5);
        });
        $("#imageLeft").click(function () {

            imgMemeberProfileImage.cropper("move", -5, 0);
        });
        $("#imageRight").click(function () {

            imgMemeberProfileImage.cropper("move", 5, 0);
        });

    });

    </script>
}

