@model BoatHouseSizeViewModel

@{
    ViewData["Title"] = "EditBoatHouseSize";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Edit BoatHouse Size</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Forms</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Text Editor</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Wyswig Summernote Editor</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content  align-content-md-center ">


                    <form asp-action="EditBoatHouseSize">
                        @Html.HiddenFor(x => x.Id)

                        <div class="form-group">
                            <label asp-for="@Model.Description" class="control-label"></label>
                            <input asp-for="@Model.Description" class="form-control" />
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.aCost" class="control-label"></label>
                            <input asp-for="@Model.aCost" class="form-control" />
                            <span asp-validation-for="@Model.aCost" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.aHieght" class="control-label"></label>
                            <input asp-for="@Model.aHieght" class="form-control" />
                            <span asp-validation-for="@Model.aHieght" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.aLength" class="control-label"></label>
                            <input asp-for="@Model.aLength" class="form-control" />
                            <span asp-validation-for="@Model.aLength" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.aWidth" class="control-label"></label>
                            <input asp-for="@Model.aWidth" class="form-control" />
                            <span asp-validation-for="@Model.aWidth" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary m-b" />
                            <a asp-action="BoatHousesSizes" class="btn btn-primary m-b">Back to List</a>


                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>


    
</div>




@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    </environment>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
    </environment>

    <script type="text/javascript">
        var _ViewModel;



        $(document).ready(function () {


            $("#aCost").TouchSpin({
                min: 0,
                max: 100000,
                step: 0.1,
                decimals: 1,
                boostat: 5,
                maxboostedstep: 100,
                postfix: 'Rand'
            });
            $("#aHieght").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 1,
                boostat: 5,
                maxboostedstep: 10,
                postfix: 'Meter'
            });
            $("#aWidth").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 1,
                boostat: 5,
                maxboostedstep: 10,
                postfix: 'Meter'
            });
            $("#aLength").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 1,
                boostat: 5,
                maxboostedstep: 10,
                postfix: 'Meter'
            });

        });


    </script>

}
