@model BoatHouseInfoViewModel

@{
    ViewData["Title"] = "BoatHouses";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>BoatHouses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.BoatHouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoatHouseSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoatHouseCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.BoatHouseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.BoatHouseSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.BoatHouseCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>

    </tbody>
</table>
